<div class="box">
    <form action="/loginData" method="post">
        <h2>Sign in</h2>
        <div class="inputBox">
            <input type="text" name="email" required>
            <span>User Email</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" name="password" required>
            <span>Password</span>
            <i></i>
        </div>
        <div class="links">
            <a href="/navbar">Forgot Password?</a>
            <a href="/">Sign Up</a>
        </div>
        <input type="submit" id="submit" value="Login">
    </form>
</div>
